Repository jas88/CsvHandler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CsvHandler Core, Source Generator

Make Codecov patch check informational
  codecov.yml
Due: none

fix: Update FluentAssertions API and gitignore Claude files
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  tests/CsvHandler.Tests/PolyfillTests.cs
Due: none

chore: Remove redundant compilation constants
  src/CsvHandler/CsvHandler.csproj
Due: unittests, CsvHandler Core

chore: Replace <Compile Remove> with #if directives
  src/CsvHandler.SourceGenerator/obj/CsvHandler.SourceGenerator.csproj.nuget.dgspec.json
  src/CsvHandler.SourceGenerator/obj/CsvHandler.SourceGenerator.csproj.nuget.g.props
  src/CsvHandler.SourceGenerator/obj/CsvHandler.SourceGenerator.csproj.nuget.g.targets
  src/CsvHandler.SourceGenerator/obj/project.assets.json
  src/CsvHandler.SourceGenerator/obj/project.nuget.cache
  src/CsvHandler/Compat/AsyncEnumerableCompat.cs
  src/CsvHandler/Compat/Utf8Helpers.cs
  src/CsvHandler/CsvHandler.csproj
  src/CsvHandler/obj/CsvHandler.csproj.nuget.dgspec.json
  src/CsvHandler/obj/project.assets.json
  src/CsvHandler/obj/project.nuget.cache
  tests/CsvHandler.AotTests/obj/Debug/net8.0/CsvHandler.AotTests.csproj.FileListAbsolute.txt
  tests/CsvHandler.Tests/obj/CsvHandler.Tests.csproj.nuget.dgspec.json
  tests/CsvHandler.Tests/obj/project.nuget.cache
Due: unittests, CsvHandler Core, Source Generator

Relax performance test timing threshold for Windows CI
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
Due: none

Remove redundant compilation constants (#14)
  src/CsvHandler.SourceGenerator/obj/CsvHandler.SourceGenerator.csproj.nuget.dgspec.json
  src/CsvHandler.SourceGenerator/obj/CsvHandler.SourceGenerator.csproj.nuget.g.props
  src/CsvHandler.SourceGenerator/obj/CsvHandler.SourceGenerator.csproj.nuget.g.targets
  src/CsvHandler.SourceGenerator/obj/project.assets.json
  src/CsvHandler.SourceGenerator/obj/project.nuget.cache
  src/CsvHandler/Compat/AsyncEnumerableCompat.cs
  src/CsvHandler/Compat/Utf8Helpers.cs
  src/CsvHandler/CsvHandler.csproj
  src/CsvHandler/obj/CsvHandler.csproj.nuget.dgspec.json
  src/CsvHandler/obj/project.assets.json
  src/CsvHandler/obj/project.nuget.cache
  tests/CsvHandler.AotTests/obj/Debug/net8.0/CsvHandler.AotTests.csproj.FileListAbsolute.txt
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
  tests/CsvHandler.Tests/obj/CsvHandler.Tests.csproj.nuget.dgspec.json
  tests/CsvHandler.Tests/obj/project.nuget.cache
Due: unittests, CsvHandler Core, Source Generator

test: Enable first ReadAllAsync test using reflection API
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

test: Enable ReadAllAsync reader test for coverage improvement (#15)
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

test: Enable 6 additional reader tests using reflection API
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

fix: Skip DateTimeOffset test due to reflection handler limitation
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

test: Enable 6 more reader tests for coverage improvement (#16)
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

feat: Add DateTimeOffset support and enable 2 more tests
  src/CsvHandler/ReflectionCsvTypeHandler.cs
  tests/CsvHandler.Tests/ReaderTests.cs
Due: unittests, CsvHandler Core

fix: Use property names in DateTimeFormats test (reflection API doesn't support [CsvField] attributes)
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

feat: Add DateTimeOffset support to reflection handler + enable 2 tests (#17)
  src/CsvHandler/ReflectionCsvTypeHandler.cs
  tests/CsvHandler.Tests/ReaderTests.cs
Due: unittests, CsvHandler Core

feat: Enable performance test for 100k row CSV processing
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

Add standardized precommit hooks and GitHub templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/build.yml
  .pre-commit-config.yaml
Due: none

fix(ci): Simplify build workflow to handle multi-targeting correctly
  .github/workflows/build.yml
Due: none

fix(ci): Add CODECOV_TOKEN for coverage uploads
  .github/workflows/build.yml
Due: none

fix(ci): Run tests on all frameworks to improve coverage
  .github/workflows/build.yml
Due: none

refactor(ci): Consolidate workflows and enhance build.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
Due: none

chore: Add .claude-flow and .swarm to gitignore
  .gitignore
Due: none

refactor(ci): Consolidate workflow into 2 jobs with dependencies
  .github/workflows/build.yml
Due: none

fix(coverage): Exclude Source Generator from coverage requirements
  codecov.yml
Due: none

refactor(tests): Replace FluentAssertions with standard xUnit
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
  tests/CsvHandler.Tests/CsvHandler.Tests.csproj
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/ParserTests.cs
  tests/CsvHandler.Tests/PolyfillTests.cs
  tests/CsvHandler.Tests/ReaderTests.cs
  tests/CsvHandler.Tests/WriterTests.cs
Due: none

fix(coverage): Exclude Source Generator from coverage requirements (#25)
  codecov.yml
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
  tests/CsvHandler.Tests/CsvHandler.Tests.csproj
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/ParserTests.cs
  tests/CsvHandler.Tests/PolyfillTests.cs
  tests/CsvHandler.Tests/ReaderTests.cs
  tests/CsvHandler.Tests/WriterTests.cs
Due: none

feat: Implement missing CSV functionality (32 tests enabled)
  src/CsvHandler/CsvOptions.cs
  src/CsvHandler/CsvStreamReader.cs
  src/CsvHandler/CsvWriter.cs
  tests/CsvHandler.Tests/EncodingTests.cs
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/ReaderTests.cs
  tests/CsvHandler.Tests/TestCsvContext.Implementation.cs
  tests/CsvHandler.Tests/TestModels.cs
  tests/CsvHandler.Tests/WriterTests.cs
Due: unittests, CsvHandler Core

feat: Complete remaining implementation gaps (6 more tests enabled)
  src/CsvHandler.SourceGenerator/CsvSourceGenerator.cs
  src/CsvHandler.SourceGenerator/Models/ContextModel.cs
  src/CsvHandler/CsvTypeHandlerFactory.cs
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
  tests/CsvHandler.Tests/PolyfillTests.cs
  tests/CsvHandler.Tests/TestCsvContext.Implementation.cs
Due: unittests, CsvHandler Core, Source Generator

fix(tests): Fix CI test failures
  src/CsvHandler/Core/Utf8CsvWriter.cs
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/WriterTests.cs
Due: unittests, CsvHandler Core

fix(writer): Fix double-delimiter bug in QuoteMode.All
  src/CsvHandler/Core/Utf8CsvWriter.cs
Due: unittests, CsvHandler Core

fix(tests): Fix all 11 failing test configuration issues
  tests/CsvHandler.Tests/EncodingTests.cs
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/ReaderTests.cs
  tests/CsvHandler.Tests/TestCsvContext.Implementation.cs
  tests/CsvHandler.Tests/TestModels.cs
  tests/CsvHandler.Tests/WriterTests.cs
Due: none

fix: Fix BOM handling, multiline fields, and CsvContext.Options type
  src/CsvHandler/Core/CsvContext.cs
  src/CsvHandler/CsvStreamReader.cs
Due: unittests, CsvHandler Core

fix: Fix critical ParseLine bug when Escape == Quote
  src/CsvHandler/CsvStreamReader.cs
Due: unittests, CsvHandler Core

fix(tests): Increase timeout for large dataset reflection test
  tests/CsvHandler.Tests/WriterTests.cs
Due: none

feat: Implement missing CSV functionality (32 tests enabled) (#26)
  src/CsvHandler.SourceGenerator/CsvSourceGenerator.cs
  src/CsvHandler.SourceGenerator/Models/ContextModel.cs
  src/CsvHandler/Core/CsvContext.cs
  src/CsvHandler/Core/Utf8CsvWriter.cs
  src/CsvHandler/CsvOptions.cs
  src/CsvHandler/CsvStreamReader.cs
  src/CsvHandler/CsvTypeHandlerFactory.cs
  src/CsvHandler/CsvWriter.cs
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
  tests/CsvHandler.Tests/EncodingTests.cs
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/PolyfillTests.cs
  tests/CsvHandler.Tests/ReaderTests.cs
  tests/CsvHandler.Tests/TestCsvContext.Implementation.cs
  tests/CsvHandler.Tests/TestModels.cs
  tests/CsvHandler.Tests/WriterTests.cs
Due: unittests, CsvHandler Core, Source Generator

Path conditions:
  unittests: any of: src/, but not: tests/**/*, **/*.Tests/**/*, **/*.AotTests/**/*, **/GeneratorTest/**/*, **/StandaloneGeneratorTest/**/*, examples/**/*, docs/**/*, **/*.AssemblyInfo.cs, **/AssemblyAttributes.cs, **/*.Designer.cs, **/*.g.cs, **/*.g.i.cs
  CsvHandler Core: any of: src/CsvHandler/**, but not: tests/**/*, **/*.Tests/**/*, **/*.AotTests/**/*, **/GeneratorTest/**/*, **/StandaloneGeneratorTest/**/*, examples/**/*, docs/**/*, **/*.AssemblyInfo.cs, **/AssemblyAttributes.cs, **/*.Designer.cs, **/*.g.cs, **/*.g.i.cs
  Source Generator: any of: src/CsvHandler.SourceGenerator/**, but not: tests/**/*, **/*.Tests/**/*, **/*.AotTests/**/*, **/GeneratorTest/**/*, **/StandaloneGeneratorTest/**/*, examples/**/*, docs/**/*, **/*.AssemblyInfo.cs, **/AssemblyAttributes.cs, **/*.Designer.cs, **/*.g.cs, **/*.g.i.cs
