Repository jas88/CsvHandler: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, CsvHandler Core, Source Generator

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
        base: auto
        if_ci_failed: error
        informational: false

    patch:
      default:
        target: 80%
        threshold: 10%
        base: auto
        if_ci_failed: error

    changes:
      default:
        if_ci_failed: error

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

ignore:
  - "tests/**/*"
  - "**/*.Tests/**/*"
  - "**/*.AotTests/**/*"
  - "**/GeneratorTest/**/*"
  - "**/StandaloneGeneratorTest/**/*"
  - "examples/**/*"
  - "docs/**/*"
  - "**/*.AssemblyInfo.cs"
  - "**/AssemblyAttributes.cs"
  - "**/*.Designer.cs"
  - "**/*.g.cs"
  - "**/*.g.i.cs"

flag_management:
  default_rules:
    carryforward: true

flags:
  unittests:
    paths:
      - src/
    carryforward: true

component_management:
  individual_components:
    - component_id: csvhandler_core
      name: CsvHandler Core
      paths:
        - src/CsvHandler/**

    - component_id: source_generator
      name: Source Generator
      paths:
        - src/CsvHandler.SourceGenerator/**

ci: Add Dependabot, CodeQL, and dependency review workflows
  .claude/settings.local.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Due: none

ci: Temporarily disable TreatWarningsAsErrors to unblock CI
  .github/workflows/ci.yml
Due: none

Fix NET6.0 SearchValues compilation errors
  src/CsvHandler.SourceGenerator/bin/Release/netstandard2.0/CsvHandler.SourceGenerator.dll
  src/CsvHandler.SourceGenerator/obj/Release/netstandard2.0/CsvHandler.SourceGenerator.AssemblyInfo.cs
  src/CsvHandler.SourceGenerator/obj/Release/netstandard2.0/CsvHandler.SourceGenerator.AssemblyInfoInputs.cache
  src/CsvHandler.SourceGenerator/obj/Release/netstandard2.0/CsvHandler.SourceGenerator.dll
  src/CsvHandler/Compat/SearchValuesPolyfill.cs
  src/CsvHandler/bin/Release/net6.0/CsvHandler.deps.json
  src/CsvHandler/bin/Release/net6.0/CsvHandler.dll
  src/CsvHandler/bin/Release/net6.0/CsvHandler.xml
  src/CsvHandler/bin/Release/net8.0/CsvHandler.dll
  src/CsvHandler/obj/Release/net6.0/CsvHandler.AssemblyInfo.cs
  src/CsvHandler/obj/Release/net6.0/CsvHandler.AssemblyInfoInputs.cache
  src/CsvHandler/obj/Release/net6.0/CsvHandler.csproj.FileListAbsolute.txt
  src/CsvHandler/obj/Release/net6.0/CsvHandler.dll
  src/CsvHandler/obj/Release/net6.0/CsvHandler.sourcelink.json
  src/CsvHandler/obj/Release/net6.0/CsvHandler.xml
  src/CsvHandler/obj/Release/net6.0/ref/CsvHandler.dll
  src/CsvHandler/obj/Release/net6.0/refint/CsvHandler.dll
  src/CsvHandler/obj/Release/net8.0/CsvHandler.AssemblyInfoInputs.cache
  src/CsvHandler/obj/Release/net8.0/CsvHandler.dll
  src/CsvHandler/obj/Release/net8.0/CsvHandler.sourcelink.json
  src/CsvHandler/obj/Release/net8.0/ref/CsvHandler.dll
  src/CsvHandler/obj/Release/net8.0/refint/CsvHandler.dll
  src/CsvHandler/obj/Release/netstandard2.0/CsvHandler.AssemblyInfo.cs
  src/CsvHandler/obj/Release/netstandard2.0/CsvHandler.AssemblyInfoInputs.cache
  src/CsvHandler/obj/Release/netstandard2.0/CsvHandler.sourcelink.json
  tests/CsvHandler.Tests/bin/Release/net6.0/.msCoverageSourceRootsMapping_CsvHandler.Tests
  tests/CsvHandler.Tests/bin/Release/net6.0/CoverletSourceRootsMapping_CsvHandler.Tests
  tests/CsvHandler.Tests/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.AssemblyInfo.cs
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.AssemblyInfoInputs.cache
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.GeneratedMSBuildEditorConfig.editorconfig
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.csproj.AssemblyReference.cache
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.csproj.CoreCompileInputs.cache
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.csproj.FileListAbsolute.txt
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.sourcelink.json
Due: unittests, CsvHandler Core, Source Generator

Fix final analyzer warnings - Build now succeeds with 0 errors
  .editorconfig
  src/CsvHandler.SourceGenerator/bin/Release/netstandard2.0/CsvHandler.SourceGenerator.dll
  src/CsvHandler.SourceGenerator/obj/CsvHandler.SourceGenerator.csproj.nuget.dgspec.json
  src/CsvHandler.SourceGenerator/obj/Release/netstandard2.0/CsvHandler.SourceGenerator.AssemblyInfo.cs
  src/CsvHandler.SourceGenerator/obj/Release/netstandard2.0/CsvHandler.SourceGenerator.AssemblyInfoInputs.cache
  src/CsvHandler.SourceGenerator/obj/Release/netstandard2.0/CsvHandler.SourceGenerator.dll
  src/CsvHandler.SourceGenerator/obj/Release/netstandard2.0/CsvHandler.SourceGenerator.sourcelink.json
  src/CsvHandler.SourceGenerator/obj/project.assets.json
  src/CsvHandler.SourceGenerator/obj/project.nuget.cache
  src/CsvHandler/bin/Release/net6.0/CsvHandler.dll
  src/CsvHandler/obj/CsvHandler.csproj.nuget.dgspec.json
  src/CsvHandler/obj/Release/net6.0/CsvHandler.AssemblyInfo.cs
  src/CsvHandler/obj/Release/net6.0/CsvHandler.AssemblyInfoInputs.cache
  src/CsvHandler/obj/Release/net6.0/CsvHandler.dll
  src/CsvHandler/obj/Release/net6.0/CsvHandler.sourcelink.json
  src/CsvHandler/obj/Release/net6.0/ref/CsvHandler.dll
  src/CsvHandler/obj/Release/net6.0/refint/CsvHandler.dll
  src/CsvHandler/obj/project.assets.json
  src/CsvHandler/obj/project.nuget.cache
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/PerformanceBenchmarks.cs
  tests/CsvHandler.Tests/bin/Release/net6.0/CsvHandler.Tests.dll
  tests/CsvHandler.Tests/bin/Release/net6.0/CsvHandler.Tests.pdb
  tests/CsvHandler.Tests/bin/Release/net6.0/CsvHandler.dll
  tests/CsvHandler.Tests/obj/CsvHandler.Tests.csproj.nuget.dgspec.json
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.AssemblyInfo.cs
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.AssemblyInfoInputs.cache
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.csproj.AssemblyReference.cache
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.dll
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.pdb
  tests/CsvHandler.Tests/obj/Release/net6.0/CsvHandler.Tests.sourcelink.json
  tests/CsvHandler.Tests/obj/Release/net6.0/ref/CsvHandler.Tests.dll
  tests/CsvHandler.Tests/obj/Release/net6.0/refint/CsvHandler.Tests.dll
  tests/CsvHandler.Tests/obj/project.assets.json
  tests/CsvHandler.Tests/obj/project.nuget.cache
Due: unittests, CsvHandler Core, Source Generator

Enable CsvWriter and CsvReader tests (38 tests now active)
  src/CsvHandler/Core/CsvContext.cs
  src/CsvHandler/CsvReader.cs
  tests/CsvHandler.Tests/ReaderTests.cs
  tests/CsvHandler.Tests/WriterTests.cs
Due: unittests, CsvHandler Core

Re-skip CsvReader tests (implementations are commented out)
  tests/CsvHandler.Tests/ReaderTests.cs
Due: none

Temporarily re-skip Writer tests pending reflection implementation debug
  tests/CsvHandler.Tests/WriterTests.cs
Due: none

Fix Range/Index polyfills for netstandard2.0
  src/CsvHandler/Compat/PolyfillAttributes.cs
  src/CsvHandler/Compat/RangeExtensions.cs
Due: unittests, CsvHandler Core

Fix duplicate RuntimeHelpers definition
  src/CsvHandler/Compat/RangeExtensions.cs
Due: unittests, CsvHandler Core

Consolidate CodeQL analysis into Linux build/test job
  .github/workflows/ci.yml
Due: none

Fix critical parser and source generator bugs
  src/CsvHandler.SourceGenerator/CodeEmitter.cs
  src/CsvHandler/Core/Utf8CsvParser.cs
Due: unittests, CsvHandler Core, Source Generator

Fix all remaining parser and source generator bugs
  src/CsvHandler.SourceGenerator/CodeEmitter.cs
  src/CsvHandler/Core/Utf8CsvParser.cs
Due: unittests, CsvHandler Core, Source Generator

Fix TryReadField to skip newlines automatically
  src/CsvHandler/Core/Utf8CsvParser.cs
Due: unittests, CsvHandler Core

Fix remaining 5 critical bugs in parser and tests
  src/CsvHandler.SourceGenerator/CodeEmitter.cs
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
Due: unittests, Source Generator

Apply parser fixes for empty fields and lenient mode quotes
  src/CsvHandler/Core/Utf8CsvParser.cs
Due: unittests, CsvHandler Core

Fix test CSV data to match expectations
  tests/CsvHandler.Tests/GeneratorTests/SourceGeneratorTests.cs
Due: none

Fix performance test boundary conditions
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/PolyfillTests.cs
Due: none

Increase test tolerance for CI environment variance
  tests/CsvHandler.Tests/IntegrationTests.cs
Due: none

Use percentile-based tolerance for performance consistency test
  tests/CsvHandler.Tests/IntegrationTests.cs
Due: none

Skip flaky memory allocation test in CI
  tests/CsvHandler.Tests/IntegrationTests.cs
Due: none

Fix multi-targeting SDK availability in CI
  .github/workflows/ci.yml
Due: none

Install .NET 6 and 8 SDKs unconditionally for multi-targeting
  .github/workflows/ci.yml
Due: none

Specify runtime identifier for AOT compilation test
  .github/workflows/ci.yml
Due: none

Remove redundant CodeQL workflow
  .github/workflows/codeql.yml
Due: none

Fix dependency review configuration error
  .github/workflows/dependency-review.yml
Due: none

Increase AOT performance test timeout for CI variance
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
Due: none

Remove --no-build flag from dotnet pack command
  .github/workflows/ci.yml
Due: none

Fix source generator NuGet package content path
  src/CsvHandler.SourceGenerator/CsvHandler.SourceGenerator.csproj
Due: unittests, Source Generator

Use MSBuild target to include analyzer DLL in package
  src/CsvHandler.SourceGenerator/CsvHandler.SourceGenerator.csproj
Due: unittests, Source Generator

Disable NuGet packaging for source generator project
  src/CsvHandler.SourceGenerator/CsvHandler.SourceGenerator.csproj
Due: unittests, Source Generator

Fix code formatting issues
  src/CsvHandler/Compat/ArrayBufferWriter.cs
  tests/CsvHandler.Tests/AotCompatibilityTests.cs
  tests/CsvHandler.Tests/IntegrationTests.cs
  tests/CsvHandler.Tests/PolyfillTests.cs
Due: unittests, CsvHandler Core

Integrate code quality analysis into main CI/CD workflow
  .github/workflows/ci.yml
Due: none

Fix code formatting issues
  src/CsvHandler.SourceGenerator/CodeEmitter.cs
  src/CsvHandler.SourceGenerator/CsvSourceGenerator.cs
  src/CsvHandler/Compat/ModernCollections.cs
  src/CsvHandler/Compat/SpanHelpers.cs
  src/CsvHandler/Compat/Utf8Helpers.cs
  src/CsvHandler/Core/Utf8CsvWriter.cs
  src/CsvHandler/CsvReaderExtensions.cs
  src/CsvHandler/CsvWriter.cs
  src/CsvHandler/CsvWriterExtensions.cs
Due: unittests, CsvHandler Core, Source Generator
